.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    padding-top: 5px;
    z-index: 200;
}

.sidebar_link{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 15px;
}

.sidebar_link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar_link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar_link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
